{
  "semi": false,
  "singleQuote": true,
  "prettier.bracketSameLine": true,
  "trailingComma": "none",
  "prettier.arrowParens": "avoid",
  "bracketSameLine": true,
  "singleAttributePerLine": false
}