@nav-bar-background-color: #007bff;
@nav-bar-title-text-color: #fff;
@tabbar-background-color: #007bff;
@tabbar-item-active-color: orange;
@tabbar-item-text-color: #fff;
@nav-bar-icon-color: #fff;
@nav-bar-text-color: #fff;